<label>Select Question Type:</label>
<div *ngFor="let option of questionOptions">
  <input
    type="radio"
    name="typeSelection"
    [id]="option.id"
    [value]="option.id"
    (click)="onCheckboxClick(option.id, $event)"
    [checked]="option.id === question.type"
  />
  <label [for]="option.id">{{ option.name }}</label>
</div>

<label for="textArea">Enter your question:</label>
<div>
  <textarea
    id="textArea"
    [(ngModel)]="question.label"
    rows="5"
    minlength="1"
    maxlength="1000"
    required
    (input)="checkCharacterCount()"
  ></textarea>
  <div>
    {{ question.label.length }} / 1000 characters. {{characterCountWarning}}
  </div>
</div>